.itemSidebar{
    display: block;
    padding-left: 8px;
    text-align: center;
 
    width: 100%;
    height: 38px;
    line-height: 38px;
    align-items: center;
    transition: all ease-in-out 0.3s ;
    &:hover{
        background-color: #6d6b8f8e;
        border-radius: 19px 0 19px 0;
        color: white;
    }
    i{
        font-size: 18px;
       
        display: inline-block;
        width: 40px;
    }
   
}
 .active{
        background-color: #4640a1;
        border-radius: 19px 0 19px 0;
    }