:root{
--width-avt-user:4rem;
}

.itemUser {
  width: 100%;
  height: 4rem;
  position: relative;
  margin-top: 3px;
  background: linear-gradient(57deg, rgba(7,3,91,1) 0%, rgba(135,145,214,1) 35%, rgba(109,130,189,1) 81%, rgba(5,35,106,1) 100%);
  display: flex;

  p {
    margin-bottom: 0;
  }

  & > p:first-child {
    background-color: #1f1f3c;
    color: white;
    font-weight: 500;
    display: block;
    width: 2rem;
    height: 4rem;
    text-align: center;
    line-height: 4rem;
  }
  & > p:nth-of-type(2) {
    margin-top: 5px;
    margin-bottom: 0;
    flex-grow: 1;
  }
  .user-avt {
    overflow: hidden;
    width: 4rem;
    height: var(--width-avt-user);
    border-radius: calc(var(--width-avt-user) / 2);
    margin: 0 20px;

    background-color: #fff;
    
        text-align: center;
        i{
            font-size:  calc(var(--width-avt-user) / 2);
            line-height: var(--width-avt-user);
            
        }
    img{
        display: block;
        height: inherit;
        width: inherit;
    }

  }
  .info {
    width: 11rem;
    margin-right: 10px;
    margin-top: 5px;
    p {
      margin-bottom: 3px;
    }
    p:first-child {
      width: 100%;
      font-weight: bold;
      text-transform: capitalize;
      overflow: auto;
      white-space: nowrap;
      // text-overflow: ellipsis;
      padding-right: 5px;
      &::-webkit-scrollbar {
        display: none;
        height: 0;
      }
    }
  }
  .total-money {
    width: 8rem;
    margin-right: 40px;
    margin-top: 5px;
  }
  .control {
    position: absolute;
    right: 0;
    top: 0;
    width: max-content;
    height: 100%;
    display: flex;
    .delete-user {
      width: 40px;
    }
    .check-delete {
      width: 150px;
      display: flex;
      padding: 5px;
      // transition: all 0.3s ease-in-out;
      // animation: dis 0.3s ease-in-out;
      animation: dis 0.2s ease-in;
    }
    .allow {
      flex-grow: 1;
      // animation: disout 0.3s ease-in-out;
    }
    .cancer {
      flex-grow: 1;
      // animation: disout 0.3s ease-in-out;
    }
    button {
      height: 100%;
    }
  }
}

@keyframes dis {
  0% {
    width: 0;
  }
  100% {
    width: 150px;
  }
}
@keyframes disout {
  0% {
    width: 150px;
  }
  100% {
    width: 0;
  }
}
@media (max-width:1024px) {
  .itemUser{
    & > p:nth-of-type(2){
      display: none;  
    }
  }
}

