:root {
  --heightList: 50px;
}

.list-product-Ad {
  width: calc(100vw - 80px);
  display: flex;
  position: relative;
  .main-list{
    flex-grow: 1;
    transition: all 0.3 ease-in;
    .list-allProduct{
      margin-top: 10px;
      display: block;
      &>span{
        background: linear-gradient(90deg, rgba(121,84,9,1) 0%, rgb(52, 106, 221) 55%, rgba(0,212,255,1) 100%);
        border-radius: 2rem 10px 0 0;
        padding: 0 20px;
        line-height: 2rem;
        font-size: 1.5rem;
        text-transform: capitalize;
        margin-top: 10px;
      }

    }
  }
  .module-create-product{
    opacity: 0;
    visibility: hidden;
    width: 0;
    margin-right: 5px;
    background-color: #4640a1;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;
    padding: 8px;
    height: max-content;
    min-height: 100px;
    i:first-child{
      font-size: 2rem;
      &:hover{
        cursor: pointer;
      }
    }
    span:nth-of-type(1){
      font-size: 2rem;
      text-transform: capitalize;
    }
    form{
      .item-input{
        position: relative;
        margin-top: 1rem ;
        label{
          position: absolute;
          font-size: 1.2rem;
          top: -15px;
          left: 2px;
          right: 50%;
          border-radius: 10px 10px 0 0 ;
          background-color: white;
          padding: 0 4px;
        }
        .form-control{
          padding-top: 10px;
          padding-bottom: 0.2rem;
          

        }
      }
      button {
        margin-top: 10px;
        width: 100px;
        align-self: center;
      }
    }
  }
  .main-content-list-product{
    
    display: grid;
    width: 100%;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
    gap: 8px;
    justify-items: center;
    border-top: 5px solid #eee;
    padding-top: 10px;
  }
  &_header {
      height: var(--heightList);
      align-items: center;
    background-color: #4640a1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    border-radius: 5px 5px 0 0;
    padding: 0 18px;
    button {
      border: unset;
      width: 170px;
      border-radius: 5px;
      height: 30px;
      font-size: 1rem;
      font-weight: 600;
      line-height: 30px;
      overflow: hidden;
    }
    select{
        max-width: 170px;
        font-weight: 400;
        height: 30px;
        padding: 0;
        text-transform: capitalize;
        border-radius: 5px;
        padding-left: 10px;
        option {
          text-transform: capitalize;
        }
    }
  }
  &_body{
    
    background-color: rgb(119, 119, 119);
    margin-top: 5px;
    width: 100%;
    // display: grid;
    .row {
        justify-content: space-around;
    }
  }
}

.disTrue{
  animation: disTrue 0.8s forwards;
}
.disFalse{
  animation: disFalse 0.5s forwards;
}
@keyframes disTrue {
  0%{
    width: 0;
    opacity: 0;
    visibility: hidden;
  }
  20%{
    width: 280px;
    opacity: 0;
    visibility: hidden;
  }
  100%{
    animation-delay: 0.2s;
    width: 280px;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes disFalse {
  0%{
    width: 280px;
    opacity: 1;
    visibility: visible;
    padding: 8px;
    margin-right: 5px;
  }
  30%{
    width: 280px;
    opacity: 0;
    visibility: hidden;
    padding: 0;
    margin-right: 0;
  }
  100%{
    margin-right: 0;
      width: 0;
      padding: 0;
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 500px) {
  .module-create-product{
    position: absolute;
    width: 100vw !important;
    height: 100% !important;
  }
  .list-product-Ad_header{
    select{
      width: max-content;
    }
  }
}