.main-dashboard{
    width: 100%;
    min-height: 60%;
    background-color: rgba($color: #171519, $alpha: 0.52);
    border-radius: 10px;
    padding: 20px;
}
.item-view{
    background-color: rgba($color: #373C48, $alpha: 0.77);
    width: 260px;
    height: 72px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    color: white;
    font-size: 20px;
    justify-content: space-between;
    h1{
        text-decoration: underline;
    }
}
