.sidebarAd{
    z-index: 100;
    position: sticky;
    top: 10px;
    margin-left: 10px;
    padding: 40px 0;
    margin-right: 30px;
    width: 42px;
    height: max-content;
    background-color: rgba($color: #373C48, $alpha: 0.77);
    display: flex ;
    flex-direction: column;
    border-radius: 5px;
    

    a {
        text-decoration: none;
        
        color: #fff;
        font-size: 20px;
    }
    .itemSidebar:last-child{
        display: none;
    }
    .itemSidebar{
        display: flex;
        
        padding-left: 10px;
        i{
            flex-grow: 1;
            max-width: 40px;
        }
     span {
        
        opacity: 0;
        visibility: hidden;
    

    } 
    &:hover{
    width: 170px;
    padding-left: 15px;
    transition: width 0.4s ease-in-out ;
    


    }
    &:hover  span {
        transition-delay: 0.25s;       
        opacity: 1;
        visibility: visible;

    }  
    }
    
 
}
