.header__login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    &>p:first-child {
        font-weight: 400;
        font-size: 1.1rem;
        text-transform: capitalize;
        line-height: 40px;
        flex-grow:1 ;
        text-align: right;

        margin-bottom: 0;
    }

    .header__account {

        li {
            width: 100%;
        }

        span {
            width: 100%;
            display: block;
        }
    }

    &>ul {
        position: absolute;
        list-style: none;
        right: 0;
        width: 160px;
        height: max-content;
        background-color: #fff;
        top: 120%;
        border-radius: 5px;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
        padding-left: 0;
        z-index: 10;

        &::after {
            content: "";
            top: -5px;
            display: block;
            right: 11px;
            width: 18px;
            height: 18px;
            transform: rotate(45deg);
            background-color: white;
            position: absolute;
            cursor: pointer;
            z-index: 1;
        }

        &>a {
            &>li {
                padding: 7px 5px 8px 15px;
                font-weight: 400;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.03);
                    cursor: pointer;
                    color: blue;
                }
            }
        }

        &>li {
            padding: 7px 5px 8px 15px;

            span {
                font-weight: 400;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.03);
                cursor: pointer;
                color: blue;
            }
        }
    }

    &>span {
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: steelblue;
        overflow: hidden;

        &:hover {
            cursor: pointer;
        }

        &>i {
            display: block;

            font-size: 20px;
            text-align: center;
            line-height: 40px;
            color: #fff
        }


    }

}

@media (min-width: 740px) and (max-width: 1023px) {
    .header__login {
        padding-left: 10px;
        min-width: max-content
    }
}