.detail {
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    width: calc(100vw - 104px);
    grid-template-columns: 57% 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 24px;
    // padding: 20px;

    &__photos {
        img {
            width: 100%;
            height: fit-content;
            max-height: 400px;
            background-position: center center;
            background-size: contain;
            border-radius: 8px;
            box-shadow: 2px 2px 6px rgb(178, 168, 168);
        }

        .detail__photos--list {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 25px;
            padding-top: 25px;

            img {
                width: 100%;
                height: fit-content;
                box-shadow: 2px 2px 6px rgb(178, 168, 168);
                border-radius: 4px;
            }
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;



        &>p {
            font-weight: 450;
            font-size: 1rem;
        }

        &>p:nth-child(3) {
            &::-webkit-scrollbar {
                display: none;
            }
        }

        &>p:nth-of-type(1) {
            width: 100%;
            height: 300px;
            overflow-y: scroll;
            text-overflow: ellipsis;
            text-align: justify;

        }

        &>div:nth-of-type(3) {
            align-self: center;
        }

        &>div:nth-child(2) {


            p {
                font-weight: 500;
                font-size: 20px;

                i {
                    color: orange;
                }
            }
        }

        div:nth-child(4) {
            font-size: 18px;

            .detail-stock,
            .detail-discount,
            .detail-sold {
                font-weight: 400;

                span {
                    padding-right: 15px;
                    font-weight: 600;
                }
            }
        }

        div:nth-child(5) {
            display: flex;
            font-size: 30px;
            align-items: flex-start;
            width: 120px;

            span {
                font-weight: 470;
            }

            button {
                border: none;
                border-radius: 10px;
                background-color: transparent;
                border-radius: 10px;
                width: 40px;
                height: 40px;
            }

            button:first-child {
                padding-right: 10px;
            }

            button:last-child {
                padding-left: 10px;
            }
        }

        .detail__btn {
            text-align: center;

            button {
                background-color: slateblue;
                color: #fff;
                border: none;
                font-weight: 500;
                font-size: 18px;
                width: 200px;
                padding: 10px 5px;
                border-radius: 8px;
                box-shadow: 2px 2px 5px rgb(228, 225, 225);

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}

@media (max-width:800px) {
    .detail {
        grid-template-columns: 1fr;
        padding: 0;
        width: 100%;
        margin-top: 15px;


        &__info {
            &>p:nth-of-type(1) {
                height: max-content;
            }

        }
    }
}