.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d8bd9f;
    height: 80px;

    img:hover {
        cursor: pointer;
    }

    &__cart {
        text-align: center;
        background-color: #fff;
        width: 60px;
        height: 50px;
        border-radius: 6px;

        &>i {
            font-size: 25px;
            padding-top: 15px;
            padding-right: 5px;
            position: relative;

            &::after {
                content: attr(total-product);
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: red;
                position: absolute;
                top: 8px;
                right: -3px;
                font-size: 14px;
                color: #000;
                padding-top: 3px;
            }
        }
    }

    &__login {
        display: flex;
        align-items: center;

        &>h3 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 300;
        }

        &>span {
            margin-left: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: steelblue;
            position: relative;

            &:hover {
                cursor: pointer;
            }

            &>i {
                padding-left: 10px;
                font-size: 20px;
                text-align: center;
                padding-top: 8px;
                color: #fff
            }

            &>ul {
                position: absolute;
                list-style: none;
                right: 0;
                width: 160px;
                height: 116px;
                background-color: #fff;
                z-index: 1;
                top: 120%;
                border-radius: 5px;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
                padding-left: 0;
                // overflow: hidden;

                &::after {
                    content: "";
                    top: -28px;
                    right: 4px;
                    border-color: transparent transparent white transparent;
                    border-style: solid;
                    border-width: 20px 20px;
                    position: absolute;
                    cursor: pointer;
                    // box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
                }

                &>li {
                    padding: 7px 5px 8px 15px;

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.03);
                        cursor: pointer;
                    }

                    a {
                        text-decoration: none;
                        color: #000;

                        &:hover {
                            color: blue;
                        }
                    }
                }
            }
        }

    }
}

@media (max-width:768px) {
    .header {
        width: 102.5%;
    }
}