.profile {
    // max-width: 1200px;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    // margin: auto;
    align-items: center;

    &__image {
        width: 37%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        padding: 20px;
        border-radius: 10px;

        &>div:first-child {
            margin-right: 85%;

            .logout {
                display: none;
            }
        }

        &>div:nth-child(2) {
            text-align: center;

            i {
                width: 130px;
                height: 130px;
                font-size: 80px;
                line-height: 130px;
                color: #fff;
                background-color: darkgoldenrod;
                border-radius: 50%;
            }
        }

        &>div:nth-child(3) {
            text-align: center;

            p {
                font-weight: 500;
                text-transform: capitalize;
            }
        }

        &>div:last-child {
            button:nth-child(2) {
                margin: 0 8px;
            }
        }


    }

    &__info {
        width: 60%;
        margin-left: 30px;
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        padding: 20px;
        display: flex;
        height: 60%;
        justify-content: space-between;

        &>div:first-child {
            order: 1;
        }

        &--detail {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 85%;

            &>h5 {
                display: flex;
                justify-content: space-between;
                width: 100%;
                text-transform: capitalize;
                min-width: 200px;

                &>span {
                    font-weight: 400;
                }
            }

            &>h5:nth-child(3) {
                span {
                    padding-left: 20px;
                }
            }

            &>h5:nth-child(4) {
                text-transform: none;
            }
        }

        &>div:last-child {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;

            p {
                margin-bottom: 0;
                font-weight: 400;
                line-height: 26px;
                padding: 18px 0;
            }
        }


    }

    &__form {
        width: 60%;
        margin-left: 50px;
        background-color: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        padding: 20px;
        border-radius: 10px;

        form {
            label {
                width: 20%;
                font-size: 1.1rem;
                font-weight: 400;
            }

            h4 {
                text-align: center;
                color: brown;
                font-style: oblique;
            }

            &>div:nth-child(2),
            &>div:nth-child(3),
            &>div:nth-child(4),
            &>div:nth-child(5) {
                display: flex;
                align-items: center;
                padding: 15px 0;
            }

            &>div:last-child {
                text-align: right;
                padding-right: 15px;

                button:first-child {
                    margin-right: 10px;
                }
            }
        }

    }

    table {
        margin-left: 30px;
        box-shadow: 2px 2px 10px rgb(155, 151, 151);
        border-radius: 6px;
        text-align: center;
        min-height: 348px;
        width: 60%;
        height: 60%;
        margin-bottom: 0;

        thead {

            th {
                font-weight: 500;
                font-size: 1.1rem;
            }
        }

        tbody {
            tr {
                line-height: 40px;

                th {
                    font-weight: 500;
                    font-size: 1.1rem;
                }

                td {
                    width: 200px;
                    font-weight: 400;
                }
            }
        }
    }
}

@media (max-width:820px) {
    .profile {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        &__image {
            width: 80%;
            margin-bottom: 30px;
            justify-content: flex-start;
            height: 35%;

            &>div:first-child {
                .logout {
                    display: block;
                }
            }
        }

        &__info {
            width: 100%;
            height: 350px;
            // margin-right: 20px;

            &>:nth-child(2) {
                label {
                    font-size: 1rem;
                }
            }

            &>div:last-child {
                // padding-left: 30px;

                &>p:nth-child(4) {
                    margin-top: -24px;
                }

                &>p:nth-child(5) {
                    margin-top: -3px;
                }
            }

        }

        &__form {

            width: 90%;

            form {

                label {
                    width: 30%;
                }
            }
        }

        table {
            width: 100%;
        }
    }
}

@media (max-width:500px) {
    .profile {


        &__image {
            width: 100%;
            // flex-direction: row;

            &>div:nth-child(2) {
                text-align: center;

                &>i {
                    font-size: 35px;
                    line-height: 60px;
                    margin-left: 0;
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    &__info {
        margin-left: 0;
        padding: 5px;

        &--detail {
            padding-left: 0;
        }
    }

    &__form {
        margin-left: 0;

    }

    table {
        margin-left: 0;
    }

}