.sidebar {
    height: 580px;
    border: 1px solid green;

    width: 100px;
    border-radius: 50px;

    position: sticky;
    top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    box-shadow: 2px 2px 10px #ccc;

    &>span {
        width: 100%;

        i {
            font-size: 35px;
        }
    }
}

@media (max-width:768px) {
    .sidebar {
        margin: 22px 10px 10px 10px;
        width: 90px;
        height: 460px;
    }
}