.sidebar-user {
    background-color: #57a9a8;
    width: 70px;
    margin-top: 5px;
    margin-right: 0;

    &>.itemSidebar:last-child {
        display: none;
    }

    .itemSidebar {
        margin: 10px 0;
        padding: 5px 0 5px 17px;
        height: max-content;

        i {
            font-size: 2rem;

        }

        span {
            font-size: 1.6rem;
        }

        &:hover {
            padding-left: 20px;
            background-color: rgb(142, 110, 110);

            i {
                margin-right: 12px;
            }
        }
    }
}

@media (max-width:500px) {
    .sidebar-user {
        width: 100%;
    }

    .footer {
        margin-bottom: 72px;
    }
}

@media (max-width:800px) {
    .sidebar-user {
        &>.itemSidebar:last-child {
            display: flex;
        }
    }




}