.text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;

    a:first-child {
        text-decoration: none;
        color: #000;

        &>h4 {
            display: block;
            border-right: 2px solid #706dcb;
            padding-right: 25px;

            &:hover {
                cursor: pointer;
                color: blue;
                opacity: 0.9;
            }
        }
    }

    a:last-child {
        text-decoration: none;
        color: #000;

        &>h4 {
            &:hover {
                cursor: pointer;
                color: blue;
                opacity: 0.9;
            }
        }
    }


}